body {
    background-color: black;
    text-align: center;
    margin-top: 40px;
}
:root {
    --menu-height: 45px;
}

canvas, #menu {
    position: absolute;
    margin: auto;
    
    left: 0px;
    right: 0px;
}

#menu {
    height: var(--menu-height);
    color: white;
    z-index: 1;

    background-color: #00000070;
    user-select: none;
}
#menu > div {
    width: 33%;
    height: var(--menu-height);
    font: bold 22px 'Verdana';

    text-align: left;
    display: inline-block;
    line-height: var(--menu-height);
}
#menu span {
    font-weight: normal !important;
    color: #e0e0e0;
}

#undo-button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

img {
    float: left;
    height: 100%;

    margin-left: 8px;
    margin-right: 8px;
}

#time-div span {
    font-weight: bold !important;
}